<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <!-- This adds the  template assembly to the "default module" -->
    <add assembly="EpiUploadImage" />
  </assemblies>
  <clientResources>

  </clientResources>

  <dojoModules>
    <!-- Add a mapping from geta to ~/Scripts to the dojo loader configuration -->

  </dojoModules>

  <dojo>
    <!-- Add a mapping from alloy to ~/Scripts to the dojo loader configuration -->
    <!-- need to check why it has issues with clientResources folder -->
    <paths>
      <add name="alloy" path="Scripts" />
      <add name="extended" path="Scripts" />

    </paths>
  </dojo>

</module>
